<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<link rel="stylesheet" href="/css/main.css">
		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
			crossorigin='anonymous'
		/>
		<title>Home</title>
	</head>
	<body>
		<nav class='navbar navbar-expand-lg bg-body-tertiary'>
			<div class='container-fluid'>
				<span class='navbar-brand' href='#'>WEB322 - Aryan Rathod</span>
				<button
					class='navbar-toggler'
					type='button'
					data-bs-toggle='collapse'
					data-bs-target='#navbarSupportedContent'
					aria-controls='navbarSupportedContent'
					aria-expanded='false'
					aria-label='Toggle navigation'
				>
					<span class='navbar-toggler-icon'></span>
				</button>

				<div
					class='collapse navbar-collapse d-flex justify-content-between'
					id='navbarSupportedContent'
				>
					<ul class='nav navbar-nav'>
						{{#navLink '/blog'}}Blog{{/navLink}}
						{{#navLink '/about'}}About{{/navLink}}
					</ul>
					<ul class='nav navbar-nav navbar-right'>
						{{#navLink '/posts'}}Posts{{/navLink}}
						{{#navLink '/categories'}}Categories{{/navLink}}
						{{#navLink '/posts/add'}}Add Post{{/navLink}}
					</ul>
				</div>
			</div>
		</nav>
		<!-- ========== HOME / ABOUT PAGE ========== -->
		<div class='container'>
			{{{body}}}
		</div>

		<script
			src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
			integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN'
			crossorigin='anonymous'
		></script>
		<script>
			const tooltipTriggerList =
			document.querySelectorAll('[data-bs-toggle="tooltip"]'); const
			tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new
			bootstrap.Tooltip(tooltipTriggerEl))
		</script>
	</body>
</html>