<div class='row'>
	<h1 class='m-5 text-center'>About</h1>
	<article>
		<h2>About</h2>
		<p>Hi, I'm Aryan Rathod, a student. I am a lifelong learner with a passion
			for computer. I strive to live my life with purpose and positivity. In my
			free time, I enjoy watching movies and web series. I am always looking for
			new adventures and opportunities to grow, both personally and
			professionally.</p>
		 <p>A career oriented individual seeking to grow in a competitive and professional space. As a student looking for motivating roles to develop interactive skills and cater to the requirements of the team. Passionate towards creativity, innovations, and healthy communications.</p>
         <p>I am currently studying in seneca college and pursuing Computer programming</p>
         <p> I have a passion for creating innovative solutions to complex problems. With a background in C# and ASP.NET, I have developed a variety of applications ranging from desktop software to cloud-based applications."</p>
            
	</article>
</div>